@import "styles/var";

.contactUsSection {
  height: calc(100vh - $navbarHeight);
  padding: 0rem $padding-sides;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;

  .image {
    $size: 80%;
    height: $size;
    width: $size;
  }
}
.formContainer {
  height: 100%;
  .formHeader {
    text-align: center;
    color: $primary-color;
  }
  .form {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .inputContainer {
      width: 100%;
      display: flex;
      margin: 2rem 0;
      justify-content: space-between;
      .label {
        font-size: 1.7rem;
        cursor: pointer;
        font-weight: 600;
      }
      .input {
        height: 35px;
        width: 250px;
        border: 1px solid darken($input-border, 10%);
        padding: 0 1.3rem;
      }
      .textarea {
        height: 150px;
        padding-top: 1.3rem;
      }
    }
    .submitButton {
      margin: 3rem auto;
      border: none;
      border-radius: 4px;
      background-color: $accent-color;
      color: $white;
      height: 40px;
      width: 150px;
      font-size: 1.6rem;
      cursor: pointer;
    }
  }
}
