@import "styles/var";

.footer {
  position: relative;
  bottom: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 5rem $padding-sides 3rem $padding-sides;
  background-color: $chilled-white;

  .socialSection {
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: max-content;
    .logo {
      position: relative;
      height: 50px;
      width: 200px;
      left: -12px;
      object-fit: contain;
    }
    .iconContainer {
      display: flex;
      justify-content: space-between;
      width: 170px;
      .icon {
        height: 35px;
        width: 35px;
        color: $black;
        cursor: pointer;
      }
    }
    .contactEmail {
      color: lighten($std-txt-black, 25%);
      font-size: 1.7rem;
    }
  }

  .addressContainer {
    justify-self: center;
    .address {
      margin-right: 2rem;
      .header {
        font-size: 2rem;
        margin: 0;
      }
      .content {
        margin-top: 0;
        font-size: 1.4rem;
        color: $std-txt-black;
      }
    }
  }

  .sitemapContainer {
    align-self: center;
    justify-self: center;
    .link {
      outline: none;
      display: block;
      margin-bottom: 2rem;
      color: lighten($std-txt-black, 25%);
      &:hover {
        color: lighten($std-txt-black, 15%);
      }
    }
  }
  .copyright {
    grid-column: span 3;
    text-align: center;
    font-size: 1.3rem;
    color: lighten($std-txt-black, 25%);
  }
}
