$navbarHeight: 80px;
$padding-sides: 60px;

$primary-color: darken(#f6ac6b, 10%);
$accent-color: #6c63ff;

$std-txt-black: #28334e;
$light-text-color: #a8a8a8;

$input-border: #dfdfdf;

$black: #28334e;
$pitch-black: #1a1a1a;
$white-border: #ebebeb;

$white: #fff;
$chilled-white: #f7f9fc;
$lighten-white: #c3d1e0;
